/* temporary */
.main__visual__wrap__elem01,
.main__visual__wrap__elem02 > p,
.main__visual__wrap__elem03,
.main__visual__btn,
.main__visual__btn__indi {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.title {
  font-size: 30px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  color: #222;
}

.description {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #888;
  margin-bottom: 45px;
}

.clear {
  padding: 100px 0 120px;
  margin: 0 auto;
  width: 1180px;
  position: relative;
}

.more {
  position: absolute;
  right: 0;
  top: 180px;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.swiper-container {
  width: 100%;
  height: 860px;
}

.swiper-container .slide1 {
  background: url(/src/images/img_visual1.jpg) no-repeat center top;
}

.swiper-container .slide2 {
  background: url(/src/images/img_visual2.jpg) no-repeat center top;
}

.swiper-container .slide3 {
  background: url(/src/images/img_visual3.jpg) no-repeat center top;
}

.main__product__wrap {
  width: 980px;
  text-align: center;
  margin: 0 auto;
}

.main__product__wrap > li {
  width: 227px;
  height: 190px;
  float: left;
  padding-top: 270px;
  position: relative;
  overflow: hidden;
}

.main__product__wrap > li ~ li {
  margin-left: 24px;
}

.main__product__wrap > li:first-child {
  background: url(/src/images/img_product_about.jpg) no-repeat;
}

.main__product__wrap > li:nth-child(2) {
  background: url(/src/images/img_product_pb.jpg) no-repeat;
}

.main__product__wrap > li:nth-child(3) {
  background: url(/src/images/img_product_global.jpg) no-repeat;
}

.main__product__wrap > li:last-child {
  background: url(/src/images/img_product_bakery.jpg) no-repeat;
}

.main__product__wrap > li > h4 {
  font-size: 22px;
  line-height: 35px;
  font-weight: 800;
  color: #444;
  margin-top: 25px;
}

.main__product__wrap__hover {
  width: 454px;
  height: 120px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main__product__wrap__hover > div {
  width: 227px;
  height: 120px;
  float: left;
}

.main__product__wrap__hover > div:first-child {
  height: 112px;
  padding-top: 8px;
}

.main__product__wrap__hover > div:first-child::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-bottom: 1px solid #949494;
  margin: 0 auto;
}

.main__product__wrap__hover p {
  line-height: 24px;
  padding: 0 30px;
  margin-bottom: 30px;
}

.main__product__wrap__hover a {
  display: block;
  height: 21px;
  line-height: 21px;
  font-size: 14px;
  position: relative;
}

.main__product__wrap__hover a::after {
  content: "";
  width: 9px;
  height: 16px;
  position: absolute;
  left: 153px;
  top: 4px;
  background: url(/src/images/form_icon.png) no-repeat -42px -105px;
}

.main__product__wrap__hover > div:last-child {
  position: relative;
}

.main__product__wrap__hover > div:last-child::after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #ee3124;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main__product__wrap > li:hover > .main__product__wrap__hover {
  left: -227px;
}

.main__product__wrap__hover em {
  text-indent: -9999px;
  height: 59px;
  display: block;
  background: url(/src/images/icon_product.png) no-repeat;
  margin: 0 auto 25px;
}

.main__product__wrap > li:first-child > .main__product__wrap__hover em {
  width: 71px;
}
.main__product__wrap > li:nth-child(2) > .main__product__wrap__hover em {
  background-position: -76px 0;
  width: 46px;
}
.main__product__wrap > li:nth-child(3) > .main__product__wrap__hover em {
  background-position: -127px 0;
  width: 59px;
}
.main__product__wrap > li:last-child > .main__product__wrap__hover em {
  background-position: -191px 0;
  width: 60px;
}

.main__infra {
  width: 100%;
  min-width: 1180px;
  background: url(/src/images/bg_product.jpg) no-repeat center bottom;
}

.main__infra > div {
  width: 1180px;
  margin: 0 auto;
}

.main__infra__wrap {
  color: #fff;
  text-align: center;
}

.main__infra__wrap > li {
  position: relative;
  float: left;
  width: 388px;
  height: 388px;
  background-color: #000;
}

.main__infra__wrap > li + li {
  margin-left: 8px;
}

.main__infra__wrap__hover {
  position: absolute;
  width: 100%;
  left: 0;
  top: 110px;
  z-index: 9999;
  transition: all 0.4s ease-in-out;
}

.main__infra__wrap > li:hover > .main__infra__wrap__hover {
  top: 50px;
}

.main__infra__wrap > li:hover > .main__infra__wrap__hover > div {
  display: block;
}

.main__infra__wrap__hover > div {
  display: none;
  transition: all 0.4s ease-in-out;
}

.main__infra__wrap__hover p {
  padding: 0 90px;
  margin-bottom: 30px;
  line-height: 25px;
}

.main__infra__wrap__hover a {
  width: 118px;
  height: 38px;
  display: block;
  margin: 0 auto;
  border: 1px solid #fff;
  line-height: 38px;
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}

.main__infra__wrap__hover a:hover {
  background-color: #fff;
  color: #222;
}

.main__infra__wrap__hover > div::before {
  content: "";
  background: url(/src/images/icon_infra.png) no-repeat;
  display: block;
  height: 52px;
  margin: 0 auto 67px auto;
}

.main__infra__wrap > li:first-child > .main__infra__wrap__hover > div::before {
  background-position: -150px 0;
  width: 60px;
}

.main__infra__wrap > li:nth-child(2) > .main__infra__wrap__hover > div::before {
  background-position: -88px 0;
  width: 36px;
}

.main__infra__wrap > li:nth-child(3) > .main__infra__wrap__hover > div::before {
  background-position: -16px 0;
  width: 32px;
}

.main__infra__wrap__hover > h4 {
  position: absolute;
  width: 100%;
  font-size: 30px;
  font-weight: 800;
  left: 0;
  top: 60px;
  line-height: 48px;
}

.main__infra__wrap img {
  transition: all 0.5s ease-in-out;
}

.main__infra__wrap > li:hover > img {
  opacity: 0.3;
}

.main__chef__wrap {
  width: 1042px;
  margin: 0 auto;
  text-align: center;
}

.main__chef__wrap > li {
  width: 304px;
  float: left;
  position: relative;
}

.main__chef__wrap > li + li {
  margin-left: 65px;
}

.main__chef__wrap__title {
  width: 304px;
  height: 134px;
  position: absolute;
  left: 0;
  top: 327px;
  padding-top: 28px;
}

.main__chef__wrap__title h4 {
  width: 102px;
  height: 26px;
  margin: 0 auto 15px;
  border: 1px solid #ebca76;
  border-radius: 26px;
  color: #ebca76;
  line-height: 26px;
}

.main__chef__wrap__title p {
  font-size: 28px;
  color: #444;
  line-height: 36px;
}

.main__chef__wrap > li:nth-child(2) > .main__chef__wrap__title {
  position: relative;
  top: 0;
}

.main__chef__wrap__more {
  width: 304px;
  height: 327px;
  border-radius: 10px;
  overflow: hidden;
}

.main__chef__wrap > li:first-child > .main__chef__wrap__more {
  background: url(/src/images/chef_01.jpg) no-repeat;
}

.main__chef__wrap > li:nth-child(2) > .main__chef__wrap__more {
  background: url(/src/images/chef_02.jpg) no-repeat;
}

.main__chef__wrap > li:last-child > .main__chef__wrap__more {
  background: url(/src/images/chef_03.jpg) no-repeat;
}

.main__chef__wrap__more > a {
  display: block;
  width: 304px;
  height: 277px;
  line-height: 277px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.main__chef__wrap__more__box {
  width: 304px;
  height: 50px;
  position: relative;
}

.main__chef__wrap__more__box::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 152px;
  bottom: 0;
}

.main__chef__wrap__more__box > a {
  float: left;
  width: 152px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(177, 162, 150, 0.5);
}

.main__chef__wrap__more a {
  display: none;
}

.main__chef__wrap__more:hover a {
  display: block;
}

.main__seminar {
  text-align: center;
}

.main__seminar::after {
  content: "";
  width: 521px;
  height: 422px;
  margin-left: 560px;
  background: url(/src/images/bg_seminar.png) no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: -1;
}

.main__seminar__date {
  font-size: 32px;
  color: #222;
  line-height: 40px;
  margin-bottom: 30px;
}

.main__seminar__date em {
  font-weight: 800;
}

.main__seminar__wrap {
  position: relative;
}

.main__seminar__wrap__view {
  width: 1105px;
  height: 283px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.main__seminar__wrap__view__list {
  width: 1325px;
  position: absolute;
  left: 0;
  top: 0;
}

.main__seminar__wrap__view__list li {
  width: 220px;
  float: left;
  position: relative;
}

.main__seminar__wrap__view__list a {
  display: block;
  padding-top: 10px;
}

.main__seminar__wrap__view__list h4 {
  width: 120px;
  height: 24px;
  margin: 0 auto 25px;
  border-radius: 12px;
  background-color: #949494;
  line-height: 24px;
  color: #fff;
}

.main__seminar__wrap__view__list strong {
  font-size: 60px;
  line-height: 54px;
  color: #949494;
}

.main__seminar__wrap__view__list span {
  margin-top: 15px;
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  line-height: 25px;
}

.main__seminar__wrap__view__list p {
  line-height: 22px;
  margin-bottom: 26px;
}

.main__seminar__wrap__view__list a::after {
  content: "";
  width: 1px;
  height: 230px;
  background-color: #e8e8e8;
  position: absolute;
  right: 0;
  top: 0;
}

.main__seminar__wrap__view__list li.on h4 {
  background-color: #e6c378;
}

.main__seminar__wrap__view__list li.on strong {
  color: #e6c378;
}

.main__seminar__wrap__view__list li.on em {
  display: block;
}

.main__seminar__wrap__view__list em {
  display: none;
  width: 108px;
  height: 38px;
  margin: 0 auto;
  border: 1px solid #ce462d;
  border-radius: 19px;
  font-size: 14px;
  line-height: 38px;
  color: #ce462d;
}

.main__seminar__wrap__btn {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.main__seminar__wrap__btn a {
  position: inherit;
  width: 34px;
  height: 64px;
  top: 90px;
  background: url(/src/images/btn_direction.png) no-repeat -36px 0;
  font-size: 0;
}
.main__seminar__wrap__btn a:first-child {
  left: 0;
}

.main__seminar__wrap__btn a:last-child {
  right: 0;
  transform: rotateY(180deg);
}

.main__bbs {
  border-top: 1px solid #e4e4e4;
}

.main__bbs > div::after {
  content: "";
  clear: both;
  display: block;
}

.main__bbs > div {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
}

.main__bbs__notice {
  float: left;
  margin-right: 100px;
  position: relative;
}

.main__bbs__notice h4 {
  font-size: 22px;
  line-height: 30px;
  color: #666;
  margin-bottom: 17px;
}

.main__bbs__notice ul {
  width: 440px;
}

.main__bbs__notice a {
  float: left;
}

.main__bbs__notice span {
  font-size: 14px;
  float: right;
}

.main__bbs__notice li {
  height: 27px;
  line-height: 27px;
  color: #888;
}

.main__bbs__banner {
  float: left;
  padding-top: 25px;
}

.main__bbs__banner a {
  font-size: 21px;
  line-height: 35px;
}

.main__bbs__banner li {
  float: left;
  margin-right: 70px;
}

.main__bbs__banner a::before {
  content: "";
  display: block;
  height: 52px;
  background: url(/src/images/icon_bottom.png) no-repeat;
  margin: 0 auto 15px;
}

.main__bbs__banner li:first-child a::before {
  width: 49px;
}

.main__bbs__banner li:nth-child(2) a::before {
  width: 50px;
  background-position: -54px 0;
}

.main__bbs__banner li:nth-child(3) a::before {
  width: 46px;
  background-position: -109px 0;
}
.main__bbs__banner li:last-child a::before {
  width: 44px;
  background-position: -161px 0;
}

.main__bbs__more {
  top: 0;
}
