.footer {
  width: 100%;
  min-width: 1180px;
  height: 200px;
  background-color: #333;
}

.footer > div {
  width: 1180px;
  margin: 0 auto;
  padding-top: 45px;
}

.footer__logo {
  float: left;
  width: 89px;
  height: 34px;
  background: url(/src/images/logo.png) no-repeat 0 -84px;
  text-indent: -9999px;
  margin: 0 60px 20px 0;
}

.footer__menu {
  float: left;
  font-size: 13px;
  color: #777;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer__menu li {
  float: left;
  margin-right: 32px;
  position: relative;
}

.footer__menu li + li::before {
  content: "";
  width: 1px;
  height: 13px;
  background-color: #fff;
  position: absolute;
  left: -16px;
  top: 6px;
}

.footer__box {
  float: right;
  width: 470px;
}

.footer__box__sns {
  float: right;
  margin-left: 300px;
}

.footer__box__sns a {
  float: left;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.footer__box__sns a:hover {
  color: #999;
}

.footer__box__sns a + a {
  margin-left: 20px;
}

.footer__box__banner {
  float: left;
}

.footer__box__banner a {
  float: left;
}

.footer__box__site {
  float: right;
  position: relative;
}

.footer__box__site p {
  width: 142px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  line-height: 34px;
  color: #444;
  font-size: 15px;
  text-indent: 15px;
  position: relative;
}

.footer__box__site p::after {
  content: "";
  position: absolute;
  right: 15px;
  width: 0px;
  height: 10px;
  border: 5px solid #000;
  border-color: transparent;
  border-bottom-color: #000;
}

.footer__box__site > ul {
  display: none;
  width: 142px;
  height: 256px;
  border: 1px solid #bfbfbf;
  position: absolute;
  left: 0;
  bottom: 35px;
  line-height: 32px;
  background-color: #fff;
  font-size: 12px;
}

.footer__box__site:hover ul {
  display: block;
}

.footer__box__site ul a {
  display: block;
  width: 100%;
  height: 32px;
}

.footer__box__site ul > li {
  text-indent: 10px;
}

.footer__box__site ul a:hover {
  background-color: #eee;
}

.footer__box__site span {
  font-size: 14px;
  font-weight: 800;
  display: block;
  width: 100%;
  height: 32px;
}

.footer__copy {
  float: left;
  font-size: 12px;
  line-height: 20px;
  color: #555;
}

.footer__copy li {
  float: left;
}

.footer__copy li + li {
  margin-left: 10px;
}
