.header {
  position: absolute;
  width: 100%;
  min-width: 1180px;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.header__wrap {
  width: 1180px;
  margin: 0 auto;
}

.header__wrap .logo {
  float: left;
  width: 101px;
  height: 37px;
  background: url(../images/logo.png) no-repeat 0 0;
  margin-top: 17px;
  margin-right: 54px;
}

.header__wrap .logo a {
  display: block;
  width: 101px;
  height: 37px;
  text-indent: -9999px;
}

.header__wrap__gnb {
  width: 700px; /* temporary */
  float: left;
}

.header__wrap__gnb > ul > li {
  padding: 0 20px;
  float: left;
}

.header__wrap__gnb > ul > li > a {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 70px;
  color: #fff;
}

.header__wrap__gnb > ul > li > a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f00;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.header__wrap__gnb > ul > li:hover > a:after {
  opacity: 1;
}

.header__wrap__gnb__title {
  float: left;
  padding: 0 33px;
  position: relative;
  z-index: 100;
}

.header__wrap__gnb:hover .header__wrap__gnb__title__depth,
.header__wrap__gnb:hover .header__wrap__gnb__bg {
  opacity: 1;
}

.header__wrap__gnb__title > a {
  display: block;
  font-family: 800;
  font-size: 18px;
  line-height: 70px;
  color: #fff;
  position: relative;
}

.header__wrap__gnb__title > a::after {
  content: "";
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
}

.header__wrap__gnb__bg {
  opacity: 0;
  display: black;
  width: 100%;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 71px;
  z-index: -1;
}

.header__wrap__gnb__title__depth {
  opacity: 0;
  display: block;
  margin-top: 20px;
  line-height: 37px;
}

.header__wrap__tnb {
  float: right;
}

.header__wrap__tnb__news,
.header__wrap__tnb__login,
.header__wrap__tnb__sch {
  float: left;
}

.header__wrap__tnb__news {
  margin-right: 35px;
}

.header__wrap__tnb__login {
  margin-right: 20px;
}

.header__wrap__tnb__news > a,
.header__wrap__tnb__login > li > a {
  font-size: 12px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.8);
}

.header__wrap__tnb__news > a:first-child {
  margin-right: 30px;
}

.header__wrap__tnb__sch__btn {
  width: 70px;
  height: 70px;
  background: #ee3124;
  text-indent: -9999px;
}

.header__wrap__tnb__sch__btn::after {
  content: "";
  float: left;
  display: block;
  margin: 22px;
  width: 26px;
  height: 25px;
  background: url(../images/icon_header.png) no-repeat -38px 0;
}

.header__wrap__tnb__sch__wrap {
  width: 100%;
  height: 200px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 100;
}

.header__wrap__tnb__sch__wrap > div {
  width: 1180px;
  margin: 0 auto;
}

.header__wrap__tnb__sch__wrap__box {
  width: 840px;
  margin: 0 auto;
  padding-top: 30px;
}

.header__wrap__tnb__sch__wrap__box fieldset {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #000;
}

.header__wrap__tnb__sch__wrap__box button {
  float: right;
  width: 70px;
  height: 70px;
  position: relative;
  text-indent: -9999px;
  border: none;
  background: none;
}

.header__wrap__tnb__sch__wrap__box button::after {
  content: "";
  display: block;
  width: 30px;
  height: 31px;
  background: url(/src/images/icon_header.png) no-repeat -69px 0;
  position: absolute;
  left: 20px;
  top: 20px;
}

.header__wrap__tnb__sch__wrap__box input {
  float: left;
  margin: 10px;
  width: 740px;
  height: 50px;
  border: none;
  font-size: 24px;
  line-height: 50px;
  outline: none;
  color: #949494;
}

.header__wrap__tnb__sch__wrap__box__list em {
  float: left;
}

.header__wrap__tnb__sch__wrap__box__list ul {
  float: left;
}

.header__wrap__tnb__sch__wrap__box__list li {
  float: left;
}
